h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.establecimiento{
    display: flex;
    flex-direction: column;
    width: 24%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
    padding: 10px;
    transition: transform .33s ease-in-out;
}
.establecimiento:hover{
    transform: translateY(-7px);
    cursor: pointer;
}
.establecimiento img{
    width: 50%;
    margin: 0px auto;
}