.tipo-container{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.estab-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.nav-buttons{
    position: absolute;
    top: 57.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    pointer-events: none; /* This makes sure that clicks pass through */
    z-index: 15;
}
.nav-buttons button{
    pointer-events: all; /* This makes sure that clicks are registered on buttons */
    background-color: #00A680;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}